
.jumbotron {
/*
	margin-left: 50px;
	margin-right: 50px;
*/
	border-radius: 25px;
/*	margin-top: 20px;*/
	margin:auto;
	background-color:rgba(0,0,0,0);
	
}

div.text{
background-color: rgba(255,255,255,0.6);
padding: 0 15px;
border-radius: 25px;
margin-top: 3%;
margin-bottom: 3%;
}

.container-fluid {
	background-image: url("http://i.imgur.com/Hc5Z6h6.jpg");
	background-attachment: fixed;
	background-position: center; 
	background-repeat: no-repeat;
	max-width: 4000px;
/*	min-height: 500px;*/
	max-height: 100%;
	background-size: auto;
}

.headerText {
	opacity: 1;
}

.form-control {
	max-width: 80%;
	max-height: 50%;
	height: 40%;
	width: 50%;
	display:inline-block; 
	border-bottom-width: medium;
}

.input-group-btn {
	display: inline-block;
	padding-bottom: 9px;
}

.well {
	margin:auto;
	margin-left:
}

.text {
	margin-right: 30%;
	margin-left: 5%;
}

.container {
	width: auto;
	padding-left: 0%;
}

.input-group {
  display: inline;
}

.panel-body {
/*	margin:auto;*/
/*	margin-right: 10px;*/
	color: black;
}

.foodInput {
	margin:auto;
}


#recipesPanel {
	opacity: .6;

}

.panel-title {
	color: black;
}









